/* CSS for the state of stars */

/* hover star */
.hovered {
 	color: rgba(145, 145, 145, 1);
}

/* clicked/submitted stars */
.submitted { 
	color: rgba(0, 0, 0, 1);
} 

/* disabled rating after submission */
.disabled {
	pointer-events: none;
}

/* FontAwesome stars */
.fa-star, .fa-star-o {
	cursor: pointer;
	/* margin left negative padding to make stars cohesive to each other */
	margin-left: -0.125em; /* -0.125em is equal to approximately -2px if default pixel size = 16 px */ 
}

/* styling of feedback message */
#feedback {
	font-family: Papyrus, "Courier New", "Times New Roman", Arial;
	color: rgba(0, 0, 0, 1);
 	text-transform: none; 
 	font-weight: bolder;
 	font-size: 2.0vmax; /* using vmax (and em above) for responsive design */ 
 	letter-spacing: 0.07vw; /* using vw for responsive design */
 	text-align: left;
}

/* background colour for fun */
body {
	background-color: rgba(255, 227, 87, 1);
}